body {
	overflow-x: hidden;
	width: 100%;
}
.hat {
	position: fixed;
	width: 100%;
	top: 0%;
	float: left;
	margin-left: 15px;
	z-index: 1090;

}

img.menu {
	display: flex;
	margin: 0px;

}

img.menu:hover {
	opacity: 0.4;
}

img.menu2 {
	
	display: none;
	margin: 0px;

}

img.menu2:hover {
	opacity: 0.4;
}

.fullMenu {
	display: none;
	z-index: 10;
	color: white;
	position: absolute;
	background-color: black;
	border-radius: 20px;
	padding-right: 10px;

}

p {
	color: white;
	font-family: poppins;
	font-size: 50px;
	font-weight: bolder;
	margin-left: 10px;
}


.contact {
	
	background-color: black;
	position: relative;
	bottom: 1vh;
	left: 0vh;
	margin-bottom: -80vh;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}

.test {
    background-color: black;
	display: flex;
	justify-content: flex-end;
}