body {
	background-color: #e5e5e5;
}

.path {
  stroke-dasharray: 100;
  stroke: black;
  animation: infinite dash 7s linear;
}

.sidebar .logo {
	width: 80%;
	padding-top: 30px;
	filter: invert(100%);
}

.sidebar h5 {
	font-family: boldFont;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	color: white;
}

.sidebar .hamburger {
	width: 50%;
	transform: rotate(180deg);
	filter: invert(100%);
}


ul.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100vh;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  background-color: #141618;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

ul.space-between .flex-item {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

ul.space-between .flex-item h5 {
  font-family: boldFont;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: white;
}

.vertical-menu {
	height: 100vh;
	background-color: #141618;
	padding-left: 10px;
	overflow-y: scroll;
}

.vertical-menu a {
	font-size: 20px;
	color: white;
	text-align: center;
	font-weight: bolder;
	font-family: slimFont;
}

.menu-category {
	color: white;
	padding-top: 10px;
	padding-left: 5px;
}

.nav a {
	color: black;
	font-weight: 600;
	border-top: 1px solid #141618;
}

.menu {
	background-color: #141618;
	color: white;
}

.vertical-menu .margin {
	color: white;
}

.vertical-menu .close .btn {
	color: white;
}

.portion .titles h1 {
	color: #141618;
	font-family: boldFont;
}

.portion .description p {
	color: #d8d8d8;
	font-size: 20px;
	font-weight: 200;
	color: black;
}

table.index {
	background-color: black;
	color: white;
}

.asterisk {
	color: black;
	font-size: 10px;
	font-weight: 100;
}

.title-p {
	color: gray;
	font-weight: normal;
	font-size: 17px;
}

@media (min-width: 1200px) {
		.hero h1 {
		font-family: boldFont;
		color: black;
		font-size: 6.5rem;
	}
}

@media (max-width: 1200px) {
		.hero h1 {
		font-family: boldFont;
		color: black;
		font-size: 3rem;
	}
}
